%script#hottest-player-template{type:'text/x-handlebars-template'}
  .current_song
  .player_buttons
    %button.previous
      %i.icon-previous
    %button.play_pause.is_paused
      %i.pause.icon-pause
      %i.play.icon-play
    %button.next
      %i.icon-next
    %button.continuous
      %i.icon-continuous
    %button.shuffle
      %i.icon-shuffle
