%script#hottest-player-template{type:'text/x-handlebars-template'}
  %div
    %button.play
      play
    %button.pause
      pause
    %button.next
      next
    %button.current_song
      current_song
    %button.continuous
      continuous
    %button.shuffle
      shuffle
    %button.repeat_song
      repeat_song
