%script#saveload-template{type:'text/x-handlebars-template'}
  .email_display
    .current_email
    .btns
      load | save | send
  %form
    %input#email{type:'email', placeholder:'you@youremail.com'}

    .side_tips
      %p.good
        Good stuff!
      %p.invalid.error
        Hmmm, that dosen't look right
      %p.empty.error
        Please enter your email.

    .buttons
      %button.load.button.black
        Load
      %button.save.button.rosy
        Save
      %button.send.button.red
        Send
