%script#saveload-template{type:'text/x-handlebars-template'}
  .email_display
    .current_email
    .btns
      load | save | send
  %form
    %input#email{type:'email', placeholder:'you@youremail.com'}
    .buttons
      %button.load.button.black
        Load
      %button.save.button.rosy
        Save
      %button.send.button.red
        Send
