%script#saveload-template{type:'text/x-handlebars-template'}
  %span
    load | save | send
  %input#email{type:'email', placeholder:'you@youremail.com'}
  .buttons
    %button.load.button.blue
      Load
    %button.save.button.blue
      Save
    %button.send.button.blue
      Send
