%script#song-template{:type =>"text/x-handlebars-template"}
  %a{name:'{{first_letter name}}'}
  .song_details
    %h3.song_name {{name}}
    .artist_name {{artist.name}}
    .youtube_clip
    -#%img{src:"{{artist.image}}"}
    .desc
      {{artist.short_desc}}
  .buttons
    %button.short_list_to_pos.button.black{:title => "Short list at position"}
      %img{:src => '/assets/up.png'}
    %button.short_list_song.button.black{:title => "Short list song"}
      %img{:src => '/assets/plus.png'}
    %button.move_to_pos.button.black{:title => "Move to position"}
      %img{:src => '/assets/up.png'}
    %button.remove.button.black{:title => "Short list at position"}
      %img{:src => '/assets/cross.png'}
