%script#song-template{:type =>"text/x-handlebars-template"}
  .song_details
    %h3.song_name {{name}}
    %h4.artist_name {{artist.name}}
  .buttons
    %button.short_list_song{:title => "Short list song"} +
    %button.short_list_to_pos{:title => "Short list at position"} >-
    %button.move_to_pos{:title => "Move to position"} >-
    %button.remove{:title => "Short list at position"} &times;
