%script#song-template{:type =>"text/x-handlebars-template"}
  %a{name:'{{first_letter name}}'}
  .song_header
    .song_tab
      .song_details
        %h3.song_name {{song_name_trim name}}
        .artist_name {{artist.name}}
    .buttons
      %button.short_list_to_pos.button.black{:title => "Short list at position"}
        %img{:src => '/assets/up.png'}
      %button.short_list_song.button.black{:title => "Short list song"}
        %img{:src => '/assets/plus.png'}
      %button.move_to_pos.button.black{:title => "Move to position"}
        %img{:src => '/assets/up.png'}
      %button.remove.button.black{:title => "Short list at position"}
        %img{:src => '/assets/cross.png'}
  .song_extras
    .youtube_clip
    -#%img{src:"{{artist.image}}"}
    %a{href:'{{artist.content_link}}'}
      .desc
        {{artist.short_desc}}
