- content_for :js do
  :javascript
    $(function(){
      window.songsList = new Hotmess.Collections.Songs(#{@song_list_json});
      window.songListView = new Hotmess.Views.SongsListView({collection: songsList});
      window.shortList = new Hotmess.Collections.Songs();
      window.shortListView = new Hotmess.Views.ShortListView({collection: shortList});

      $('#song_list').append(songListView.render().el);
      $('#short_list').append(shortListView.render().el);
    });

= partial 'templates/song'
= partial 'templates/youtube_iframe'
