@import "mixins.css.sass"

body
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif
  min-width: 480px

h1
  font-size: 32px

h2
  font-size: 20px

h3
  font-size: 16px
  color: #333

.hidden
  position: absolute
  left: -999em
