body
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif
  min-width: 480px


h1
  font-size: 32px

h2
  font-size: 20px

h3
  font-size: 16px
  color: #333

section
  width: 45%

#short_list
  float: left
  margin-left: 20px

#song_list
  float: left
  margin-right: 20px

@media only screen and (max-width: 800px), only screen and (max-device-width: 480px)
  section#song_list, section#short_list
    float: none
    width: 100%

