@import "mixins.css.sass"

#progress_bar
  margin: 40px auto
  width: 60%

#header
  background-color: #fff
  @include clearfix
  border-bottom: solid 1px #ccc
  z-index: 1

  img
    -webkit-transition: all 300ms linear
    float: left
    margin: 5px 40px
    width: 70px

  &.open
    img
      width: 130px

  img.big, img:hover
    width: 300px

  h1
    font-size: 2em
  span
    font-size: 0.8em

#bg
  position: fixed
  top: 0
  left: 0
  width: 100%
  opacity: 0.2
  z-index: -1
  img
    width: 20%
    float: left

#song_list, #short_list
  width: 44.25%

#short_list
  float: left
  margin-left: 1%
  margin-top: 70px

#song_list
  float: left
  margin-left: 1%
  margin-top: 70px

nav.list_index
  position: fixed
  right: 10px

@media only screen and (max-width: 800px), only screen and (max-device-width: 480px)
  section#song_list, section#short_list
    float: none
    width: 100%
