.player
  button
    border: 0
    background: 0
    color: #555

    &.active
      color: #F7BDBA
    &:hover
      color: #EE736D
    &:active
      color: #E73F36


  .play_pause
    font-size: 2em
    cursor: pointer

  .is_paused
    .pause
      display: none

  .is_playing
    .play
      display: none

  .previous, .next, .shuffle, .continuous
    font-size: 1.2em
    cursor: pointer


