.player
  float: left

  button
    border: 0
    background: 0
    color: #555

    &:hover
      color: #F7BDBA

    .active
      color: #EE736D


  .play_pause
    font-size: 2em
    cursor: pointer

  .is_paused
    .pause
      display: none

  .is_play
    .play
      display: none

  .previous, .next, .shuffle, .continuous
    font-size: 1.2em
    cursor: pointer


