@import "mixins.css.sass"

#save_load
  display: inline-block
  float: right
  margin-right: 10%
  background-color: #fff
  padding: 5px 10px 5px 10px
  margin-bottom: 10px
  width: 330px
  text-align: center

  .email_display
    cursor: pointer
    .current_email
      margin-bottom: 6px
      display: none

  form
    display: none

    #email
      display: block
      width: 100%
      padding: 2px 5px
      text-align: center
      font-size: 1.3em

    .buttons
      width: 283px
      display: block
      margin: 4px auto 0

      button
        display: inline-block
        margin: 0 -1px

#header.open
  #save_load
    .email_display
      display: none
    form
      display: block
