@import "mixins.css.sass"

#save_load
  display: inline-block
  float: right
  margin-right: 10%
  background-color: #fff
  padding: 5px 10px 5px 10px
  margin-bottom: 10px
  text-align: center

  .email_display
    cursor: pointer
    .current_email
      margin-bottom: 6px
      display: none
  .list_label
    margin-top: 6px

  form
    position: relative
    display: none
    #email
      display: block
      width: 302px
      padding: 2px 5px
      text-align: center
      font-size: 1.3em
    .buttons
      display: block
      margin: 4px auto 0
      button
        display: inline-block
        margin: 0 -1px

      .close_form_button
        display: inline
        position: relative
        top: 7px
        left: 4px
        img
          -webkit-transition: opacity 0.5s linear
          -moz-opacity: 0.2
          -khtml-opacity: 0.2
          opacity: 0.2

        span
          position: relative
          bottom: 6px
          -moz-opacity: 0
          -khtml-opacity: 0
          opacity: 0
          -webkit-transition: opacity 0.5s linear

        &.highlight
          img
            -moz-opacity: 0.6
            -khtml-opacity: 0.6
            opacity: 0.6

          span
            -moz-opacity: 1
            -khtml-opacity: 1
            opacity: 1

      .close_form_button:hover
        cursor: pointer

    .side_tips
      position: absolute
      top: 7px
      left: 292px
      width: 305px
      text-align: left
      p
        display: none
        background-repeat: no-repeat
        padding: 1px 0 4px 30px
      .error
        background-image: url(/assets/red_cross.png)
        color: #E00000
      .good
        background-image: url(/assets/tick.png)
        color: green

  form
    -webkit-transition: all 100ms linear
    &.valid
      p.good
        display: inline

    &.invalid
      p.invalid
        display: inline

    &.blank
      p.blank
        display: inline

    &.blank, &.invalid
      left: -170px

#header.open
  #save_load
    .email_display
      display: none
    form
      display: block
