@import "mixins.css.sass"

.song
  .song_header:hover
    .song_details
      background-color: #ccc
    .song_details:after
      box-shadow: -2px 2px 0 #ccc

.highlight
  .song_extras
    background-color: #ccc


.song
  margin-top: 2px


  .song_header
    width: 100%
    padding-right: 118px
    cursor: pointer
    @include clearfix

  .song_details, .buttons
    position: relative
    float: left

  .song_details
    width: 97%
    min-height: 40px
    margin-right: 5px
    padding: 11px 20px
    background-color: #eee
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px

    .song_name
      display: inline-block
      font-weight: bold
      margin-bottom: 3px

    .artist_name
      display: inline-block
      color: #666
      &:before
        content: "-"
        margin-right: 5px



  .buttons
    width: 125px
    margin-right: -125px
    //border: solid #00f 1px

    button
      margin: 0 -1px
      font-size: 1.6em
      padding: 0.35em 0.7em 0.40em

  &.expanded
    .song_details
      border-bottom-right-radius: 0
      border-bottom-left-radius: 0
      height: 48px

    .song_details:after
      border: 1px solid #eee
      position: absolute
      bottom: -1px
      width: 5px
      height: 5px
      content: " "
      right: -6px
      border-bottom-left-radius: 6px
      border-width: 0 0 1px 1px
      box-shadow: -2px 2px 0 #eee

    .song_extras
      display: block

.song_extras
  display: none
  padding: 11px 20px
  background-color: #eee
  margin-right: 14px
  margin-bottom: 5px
  border-top-right-radius: 10px
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px

  a
    text-decoration: none
    color: $font-color
  .desc
    padding: 5px
    overflow: hidden
    font-size: 0.9em
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif
    line-height: 1.2em
    &:hover
      background-color: #ccc
      cursor: pointer
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 5px

  .youtube_clip
    margin: 14px 0px 5px

#song_list
  button.remove, button.move_to_pos
    display: none

#short_list
  button.short_list_song, .short_list_to_pos
    display: none

#short_list
  li
    background-color: transparent
  ol
    counter-reset: li /* Initiate a counter */
    list-style: none /* Remove default numbering */
    *list-style: decimal /* Keep using default numbering for IE6/7 */
    padding: 0
    margin-bottom: 4em
    text-shadow: 0 1px 0 rgba(255,255,255,.5)

  li:nth-child(-n+10)
    .song_details
      position: relative
      display: block
      width: 91%
      padding: 11px 15px 11px 30px
      *padding: .4em
      margin-left: 1em
      margin-top: 0
      transition: all .3s ease-out


    .song_details:before
      content: counter(li)
      counter-increment: li
      position: absolute
      left: -1.3em
      top: 50%
      margin-top: -1.3em
      background: #EE736D /*#87ceeb*/
      height: 2em
      width: 2em
      line-height: 2em
      border: .3em solid #fff
      text-align: center
      font-weight: bold
      border-radius: 2em
      transition: all .3s ease-out

@media only screen and (max-width: 800px), only screen and (max-device-width: 480px)
  .song
    .song_details
      .song_name
        display: block
      .song_name
        display: block
