!!!
%html
  %head
    %title
      Hotmess 100

  %body
    We have a body

    = yeild

    %script{:scr => 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'}
    = javascript_include_tag 'backbone-min'
    = javascript_include_tag 'underscore-min'
